.header
{
  position: static;
  margin: 0;
  width: 100%;
  height: 20%; 
  text-align: center;
  background: black;
  color: white;
  font-size: 100%;
}

.Logo{
  position: fixed;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  left: 46%;
  z-index: 10;
}

.header2
{
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: #292929;
}





.stheader
{
  position: sticky;
  margin: 10% 0% 0% 0%;
  background-color: #292929;
}

body
{
  margin: 0;
}

.font
{
  padding: 1%;
  margin: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.footer
{
  height: 15%;
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
}