*
{
  margin: 0;
  padding: 0;
}

html, body
{
  background-color: #202020;
}

#header
{
  position: static;
  margin: 0;
  width: 100%;
  height: 20%; 
  text-align: center;
  color: white;
  font-size: 100%;
  background-color: #af29ca;
}
#Scroller{
  padding-right: 50%;
}
.a 
{
  cursor: pointer;
}

#Logo
{
  position: fixed;
  top: 2%; 
  margin-left: auto;
  margin-right: auto;
  display: block;
  left: 46%;
  z-index: 10;
}

#header2
{
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: #292929;
  box-shadow: 0px 12px 20px #1a1a1a;
  z-index: 9;
}

.headlimit
{
  height: 100%;
  width: 32%;
  overflow: hidden;
  float: left;
}

.headbuttonr
{
  position: relative;
  right: 0%;
  border: none;
  color: white;
  background-color: #292929;
  text-align: center;
  font-size: 125%;
  font-family: Corbel; 
  cursor: pointer;
  height: 100%;
  float: right;
  padding: 0 2% 0 2%;
}

.headbuttonl
{
  position: relative;
  left: 0%; 
  border: none;
  color: white;
  background-color: #292929;
  text-align: center;
  font-size: 125%;
  font-family: Corbel; 
  cursor: pointer;
  height: 100%;
  float: left;
  padding: 0 2% 0 2%;
}

.headbuttonr:hover
{
  background-color: #383838;
}

.headbuttonl:hover
{
  background-color: #383838;
}
.stheader
{
  position: sticky;
  margin: 10% 0% 0% 0%;
  background-color: #292929;
}

body
{
  margin: 0;
}

.font
{
  padding-top: 1.5%;
  margin: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
  color: black;
}

#container
{
  min-height: 59%;
  background-color: #202020;
  color: white;
}

#main
{
  padding: 2% 5%;
  width: 100%;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
.logo{
  width: 200px;
}
.gridLanding{
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;

  background-color: rgb(41, 41, 41);
}
.landing{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gridIndex{
  background-color: rgb(41, 41, 41);
}
.index-wrapper{
  padding: 2% 2%;
  display: grid;
  grid-template-columns: 60% 40%;
}
.index-wrapper2{
  padding: 2% 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.seccion1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1{
  margin: 0 2%;
  float: left;
}
.img2{
  width: 180px;
  margin: 0 2%;
  float: left;
}
.info a{
  border: 2px solid white;
  padding: 10px;
  text-decoration: none;
  color: white;
}
.bar{
  margin-top: 50px;
  background-color: black;
  height: 50px;
}
.bar .title-wrapper{
  background-color: red;
  width: 200px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
#Titulo{
  text-align: center;
  font-size: 3vw;
  font-family: Corbel;
}
#Subtitulo{
  text-align: center;
  color:white;
  font-family: Corbel;
  font-size: 1vw;
}
#Parrafo{
  text-align: justify;
  font-size: 1.6vw;
  font-family: Corbel;
}
#lista{
  font-family: Corbel;
  font-size: 1vw;
}
#Foto{
  width:30%;
}

#more
{
  display: none;
}

#rmbuttn
{
  border: none;
  color: white;
  background-color: #1d1d1d;
  text-align: center;
  font-size: 100%;
  font-family: Corbel; 
  cursor: pointer;
  width: 20%;
  padding: 1% 1% 1% 1%;
  align-items: center; 
}

#wrapper {
  display: flex;
  justify-content: center;
}

#footer
{
  position: relative;
  height: 16%;
  clear: both;
  background-color: #ecbc37;
  color: black;
  text-align: center;
  width: 100%;
  box-shadow: 0px -7px 20px #111111;
}
#Parrafo2{
  text-align: center;
  font-size: 1.6vw;
  font-family: Corbel;
}
#Foto2{
  width:50%;
}


@media screen and (max-width: 1200px){
  .index-wrapper{
    padding: 2% 2%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .index-wrapper2{
    padding: 2% 2%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .seccion1{
    margin: 2% 15%;
  }
  .img1{
    width: 250px;
    float: none;
  }
}